<app-shared-table [useApi]="false" [apiUrl]="''" [calendarType]="calendarType"></app-shared-table>
<!-- <app-shared-table [useApi]="true" [apiUrl]="'https://mocki.io/v1/1901dcb8-b60e-4b2d-959c-09331d0bdb4f'" [calendarType]="calendarType"></app-shared-table> -->
<!-- <app-shared-table [useApi]="true" [apiUrl]="'https://mocki.io/v1/1f071b73-089d-4a57-bae9-179c0e45af74'" [calendarType]="calendarType"></app-shared-table> -->

<!-- <lib-shared-table  [columns]="columns" [useApi]="false" [apiUrl]="''"></lib-shared-table> -->

<!-- https://192.168.1.100:3000/users?name=ali&active=true&role=مدیر -->
 